* {
  margin: 0px;
  padding: 0px;
  /* font family */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* main section */

/* about section */

main {
  max-width: 1120px;
  margin: 0 auto;
}

.about-me-section {
  background-color: rgba(128, 128, 128, 0.545);
  padding: 50px 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
  width: calc(100% - 100px);
  margin: 0 auto;
}

.about-container {
  background-color: white;
  border: 2px solid tomato;
  border-radius: 10px;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about-h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.about-p {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
  color: purple;
}

.details-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  padding: 25px;
  gap: 25px;
}

.details-about-h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.details-about-p {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 15px;
  color: gray;
}

/* Footer Family  start */

.footer-container {
  background-color: #fff8f3;
}

.footer-div-container {
  display: flex;
  gap: 50px;
  padding: 35px 45px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #fff8f3;
}

.text-and-icon-container {
  text-align: left;
  background-color: #fff8f3;
  width: 50%;
  margin-right: 100px;
}

.footer-h1 {
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: bolder;
  background-color: #fff8f3;
}

.footer-p {
  margin-bottom: 15px;
  font-size: 25px;
  color: gray;
  font-weight: normal;
  background-color: #fff8f3;
}

.footer-img {
  margin-right: 25px;
  margin-top: 15px;
}

/* text-and-icon-container */

/* text-and-form-container */

.text-and-form-container {
  width: 50%;
  text-align: start;
  background-color: #fff8f3;
}

.footer-form {
  margin-top: 20px;
  background-color: #fff8f3;
}

.footer-input,
.footer-textarea {
  width: 350px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  outline-color: #fd6e0a;
}

.btn-input {
  margin-top: 5px;
  font-size: 25px;
  padding: 25px;
  color: white;
  background-color: #fd6e0a;
  border: 2px solid #fd6e0a;
  border-radius: 10px;
}

/* footer hover style */

.btn-input:hover {
  cursor: pointer;
  color: black;
  background-color: tomato;
}

.footer-img:hover {
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}

/* footer family ended */

/* small device responsive */

@media screen and (max-width: 576px) {
  /* about me  */

  .about-me-section,
  .about-container {
    /* padding: 50px 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    width: calc(100% - 100px);
    margin: 0 auto; */
    width: auto;
    padding: 25px 25px;
    margin: 0 auto;
    text-align: start;
  }

  .about-h1 {
    font-size: 35px;
    font-weight: bolder;
  }

  .about-p {
    font-size: 20px;
    font-weight: normal;
  }

  .details-about {
    text-align: start;
    justify-content: start;
    align-items: start;
  }

  .details-about-h1 {
    font-size: 25px;
    font-weight: bold;
  }

  .details-about-p {
    font-size: 15px;
    font-weight: normal;
  }

  /* footer start */

  .footer-container {
    width: auto;
    margin: 0 auto;
    text-align: start;
    height: auto;
  }

  .footer-div-container,
  .details-about {
    flex-direction: column;
  }

  .text-and-icon-container,
  .text-and-form-container {
    align-items: start;
    justify-content: start;
  }

  .footer-h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .footer-p {
    font-size: 18px;
    font-weight: normal;
  }

  .text-and-form-container {
    text-align: start;
  }

  .footer-img-container {
    display: flex;
  }

  .footer-input,
  .footer-textarea {
    width: 225px;
    padding: 20px;
  }

  .btn-input {
    width: 150px;
    padding: 15px;
    font-size: 20px;
  }

  /* footer end */
}
