* {
  margin: 0px;
  padding: 0px;
  /* font family */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* img section */

img {
  max-width: 100%;
  max-height: 100%;
}

/* header section */

header {
  max-width: 1400px;
}

.header-section {
  background-image: url("images/developer.png"), url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* nav start */

.nav-continer {
  background-color: rgba(128, 128, 128, 0.62);
  padding: 20px;
  width: auto;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items span {
  color: red;
  font-weight: bolder;
  font-size: 50px;
}

.nav-items h1 {
  font-size: 50px;
  font-weight: bolder;
}

.nav-items button {
  padding: 20px 15px;
  width: 200px;
  background-color: #fd6e0a;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-weight: normal;
}

.nav-items button:hover {
  cursor: pointer;
  background-color: tomato;
  color: black;
}

/* nav ended */

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.hero-text-container {
  width: 50%;
  padding: 50px;
  text-align: start;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 60px;
  gap: 30px;
}

.hero-text-container h3,
h4 {
  font-size: 35px;
  font-weight: normal;
}

.hero-text-container h1 {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 25px;
}

.hero-text-container p {
  font-size: 25px;
  color: gray;
  margin-bottom: 25px;
  margin-top: 20px;
}

.hero-img-container {
  width: 50%;
  text-align: center;
}

.hero-img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
  align-items: center;
}

.hero-btn {
  padding: 25px;
  width: 200px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  background-color: black;
  color: aqua;
}

.c-btn {
  margin-left: 25px;
  color: red;
  background-color: black;
}

.hero-btn:hover {
  cursor: pointer;
  background-color: white;
  color: blue;
}

/* header ended */

/* main section */
main {
  max-width: 1120px;
  margin: 0 auto;
}

/* what i do section */
.what-i-do-section {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  margin: 0 auto;
}

.what-i-do-h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bolder;
}

.what-i-do-p {
  text-align: center;
  margin: 25px 30px;
  font-size: 20px;
  font-weight: normal;
  color: gray;
}

.container-skill {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* display: flex;
  justify-content: start;
  align-items: start; */
  height: 100%;
  width: 100%;
  gap: 20px;
}

.skill-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.skill-container {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 25px;
  border: 2px solid gray;
  /* height: 100%;
  width: 100%; */
}

.skill-h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}

.skil-p {
  font-size: 15px;
  font-weight: normal;
  color: gray;
}

/* about section */
.about-me-section {
  background-color: rgba(128, 128, 128, 0.545);
  padding: 50px 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
  width: calc(100% - 100px);
  margin: 0 auto;
}

.about-container {
  background-color: white;
  border: 2px solid tomato;
  border-radius: 10px;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about-h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.about-p {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
  color: purple;
}

.details-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  padding: 25px;
  gap: 25px;
}

.details-about-h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.details-about-p {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 15px;
  color: gray;
}

/* resume column */

.summary-section {
  margin: 0 auto;
  max-width: 1120px;
}

.summary-heading {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.resume-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 60px;
}

.resume-container h3 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 400;
}

.resume-container h6 {
  font-weight: normal;
  font-size: 25px;
  color: gray;
  margin-bottom: 30px;
}

.resume-container p {
  margin-bottom: 30px;
  font-size: 18px;
  color: gray;
}

.education-contain,
.experience-contain {
  margin-top: 30px;
}

/* Footer Family  start */

.footer-container {
  background-color: #fff8f3;
}

.footer-div-container {
  display: flex;
  gap: 50px;
  padding: 35px 45px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #fff8f3;
}

.text-and-icon-container {
  text-align: left;
  background-color: #fff8f3;
  width: 50%;
  margin-right: 100px;
}

.footer-h1 {
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: bolder;
  background-color: #fff8f3;
}

.footer-p {
  margin-bottom: 15px;
  font-size: 25px;
  color: gray;
  font-weight: normal;
  background-color: #fff8f3;
}

.footer-img {
  margin-right: 25px;
  margin-top: 15px;
}

/* text-and-icon-container */

/* text-and-form-container */

.text-and-form-container {
  width: 50%;
  text-align: start;
  background-color: #fff8f3;
}

.footer-form {
  margin-top: 20px;
  background-color: #fff8f3;
}

.footer-input,
.footer-textarea {
  width: 350px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  outline-color: #fd6e0a;
}

.btn-input {
  margin-top: 5px;
  font-size: 25px;
  padding: 25px;
  color: white;
  background-color: #fd6e0a;
  border: 2px solid #fd6e0a;
  border-radius: 10px;
}

/* footer hover style */

.btn-input:hover {
  cursor: pointer;
  color: black;
  background-color: tomato;
}

.footer-img:hover {
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}

/* footer family ended */

/* small device responsive */

@media screen and (max-width: 576px) {
  /* nav var */
  .nav-continer {
    text-align: center;
    margin: 0 auto;
    width: auto;
  }

  .nav-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .header-section {
    text-align: center;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-img {
    width: 250px;
    height: 250px;
  }

  .hero-btn {
    margin: 0 auto;
    margin-top: 25px;
  }

  /* about me  */
  .about-me-section,
  .about-container {
    /* padding: 50px 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    width: calc(100% - 100px);
    margin: 0 auto; */
    width: auto;
    padding: 25px 25px;
    margin: 0 auto;
    text-align: start;
  }

  .about-h1 {
    font-size: 35px;
    font-weight: bolder;
  }

  .about-p {
    font-size: 20px;
    font-weight: normal;
  }

  .details-about {
    text-align: start;
    justify-content: start;
    align-items: start;
  }

  .details-about-h1 {
    font-size: 25px;
    font-weight: bold;
  }

  .details-about-p {
    font-size: 15px;
    font-weight: normal;
  }

  /* what i do section */

  .what-i-do-container {
    text-align: start;
  }

  .container-skill {
    grid-template-columns: repeat(1, 1fr);
  }

  .resume-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .resume-container h1 {
    font-size: 35px;
  }

  .resume-container h3,
  h6,
  p {
    font-size: 20px;
  }

  /* footer start */

  .footer-container {
    width: auto;
    margin: 0 auto;
    text-align: start;
    height: auto;
  }

  .footer-div-container,
  .details-about {
    flex-direction: column;
  }

  .text-and-icon-container,
  .text-and-form-container {
    align-items: start;
    justify-content: start;
  }

  .footer-h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .footer-p {
    font-size: 18px;
    font-weight: normal;
  }

  .text-and-form-container {
    text-align: start;
  }

  .footer-img-container {
    display: flex;
  }

  .footer-input,
  .footer-textarea {
    width: 225px;
    padding: 20px;
  }

  .btn-input {
    width: 150px;
    padding: 15px;
    font-size: 20px;
  }

  /* footer end */
}
